@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
    height: auto;
    width: 99.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: carga 0.5s forwards;
    overflow-x: hidden;
}


.flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  transition: 2s;
  &.active {
    opacity: 1;
    box-shadow: 15px 0px 20px 15px white;
  }
}
.swiper-button-next {
  transition: 2s;
  &.active {
    opacity: 1;
    box-shadow: -15px 0px 20px 15px white;
  }
}

#contenido {
  max-width: 83%;
  min-width: 70rem;
}

#scroll {
scrollbar-color: white white;
  &:hover {
    scrollbar-color: #909090 white;
  }
}

#points:hover {
  opacity: 1;
}

#search input:focus + #search input{
  width: 120px;
}

#cnt-el-fx{
  max-width:100vmax;

  #fixed{
    position: fixed;
    background: white;
    margin-top: -2px;
  }
}