@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.flex-Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 23px;
}

.cambio {
  color: blue;
  &.active {
    color: red;
  }
}

.swiper-button-prev {
  transition: 2s;
  &.active {
    opacity: 1;
    box-shadow: 15px 0px 20px 15px white;
  }
}

.swiper-button-next {
  transition: 2s;
  &.active {
    opacity: 1;
    box-shadow: -15px 0px 20px 15px white;
  }
}

#contenido {
  max-width: 83%;
  min-width: 70rem;
}

#scroll {
  scrollbar-color: white white;

  &:hover {
    scrollbar-color: #909090 white;
  }
}

#points:hover {
  opacity: 1;
}

#search input:focus + #search input{
  width: 120px;
}